<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @reboot.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reboot.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @reboot.type %>
</p>

<%= link_to 'Edit', edit_reboot_path(@reboot) %> |
<%= link_to 'Back', reboots_path %>
